[user]
	name = carseven
	email = carles.serra@hotmail.es
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[alias]
	fza = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
	conflictStyle = diff3
[mergetool]
	keepBackup = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[init]
	defaultBranch = main
[pull]
	rebase = true
[credentials]
	helper = osxkeychain
