[user]
	name = carseven
	email = carles.serra@hotmail.es
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
    pager = delta
[interactive]
    diffFilter = delta --color-only
[merge]
	tool = vscode
    conflictstyle = zdiff3
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool]
	keepBackup = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
    autoStash = true
[credentials]
	helper = osxkeychain
[include]
	path = ~/delta.gitconfig