# ALIAS

# ZSHRC CONFIG
alias update="source ~/.zshrc"
alias czsh="code ~/.dotfiles/zsh/.zshrc"
alias cdot="code ~/.dotfiles"

# NAVEGACION
alias ...="cd ../.."
alias ls="lsd --group-dirs=first"
alias ll="lsd -lh --group-dirs=first"
alias lsa="lsd -a --group-dirs=first"
alias lla="lsd -lha --group-dirs=first"
alias tree="lsd -a --tree"

# CAT/BAT
alias cat="bat"
alias catnl="bat --paging=never"

# CODE
alias c="code ."

# VENV
alias venv="python3 -m venv .venv"
alias avenv="deactivate &> /dev/null; source ./.venv/bin/activate"
alias dvenv="deactivate &> /dev/null"
alias fvenv="pip3 freeze"
alias rvenv="pip3 freeze > requirement.txt"
alias ivenv="pip3 install -r requirements.txt"

# UTILIDADES SISTEMA
alias myip="curl http://ipecho.net/plain; echo"
alias usage="du -h -d1"
alias runport="lsof -i"
alias delds="sudo find / -name .DS_Store -delete; killall Finder"

# GIT
alias gc="git commit -m"
alias gs="git status"
alias gss='git status --short'
alias gd="git diff"
alias gdiff="git diff"
alias ga="git add"
alias gaa="git add ."
alias gf="git fetch"
alias gfa="git fetch --all"
alias gpush="git push"
alias gpull="git pull"
alias gpushup="git push --set-upstream origin HEAD"
alias gpull="git pull"
alias greset="git reset HEAD~" # reset last commit
alias gw="git switch"
alias gwc="git switch -c"
alias gswitch="git branch | fzf | xargs -I_ git switch _"
alias gbranchdel="git branch | fzf | xargs -I_ git branch -d _"
alias glog='git log --graph --oneline --decorate --all'
alias gui='gitui'
function gbat() { git diff --name-only --diff-filter=d | xargs bat --diff }


# FZF
# Open in vscode dev repositories
alias dev="ls ~/dev | fzf | xargs -I_ code ~/dev/_"
alias hfind="history | fzf"
alias afind="alias | fzf"

# Preview files with bat
function preview(){
 
        if [ "$1" = "h" ]; then
                fzf -m --reverse --preview-window down:20 --preview '[[ $(file --mime {}) =~ binary ]] &&
                        echo {} is a binary file ||
                         (bat --style=numbers --color=always {} ||
                          highlight -O ansi -l {} ||
                          coderay {} ||
                          rougify {} ||
                          cat {}) 2> /dev/null | head -500'
 
        else
                fzf -m --preview '[[ $(file --mime {}) =~ binary ]] &&
                                 echo {} is a binary file ||
                                 (bat --style=numbers --color=always {} ||
                                  highlight -O ansi -l {} ||
                                  coderay {} ||
                                  rougify {} ||
                                  cat {}) 2> /dev/null | head -500'
        fi
}

# Set man colors
function man() {
    env \
    LESS_TERMCAP_mb=$'\e[01;31m' \
    LESS_TERMCAP_md=$'\e[01;31m' \
    LESS_TERMCAP_me=$'\e[0m' \
    LESS_TERMCAP_se=$'\e[0m' \
    LESS_TERMCAP_so=$'\e[01;44;33m' \
    LESS_TERMCAP_ue=$'\e[0m' \
    LESS_TERMCAP_us=$'\e[01;32m' \
    man "$@"
}


# QMK
alias cplanck="qmk compile -kb planck/rev6 -km carseven"
alias fplanck="qmk flash -kb planck/rev6 -km carseven"