name: Build

on:
  push:
    branches: [main, poc/deno-script-install]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.35.3

      - run: deno task lint && deno task format
      - run: deno task compile
      - run: ./dotfiles-install -d
